[Unit]
Description=Podman container-middleware_test-complete-connector_1.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=DB_HOST={{ hostvars['localhost']['psqlfs_name'] }} DB_NAME=test_orchestration_java_{{ lookup('env', 'ENVIRONMENT') }} DB_USERNAME={{ hostvars['localhost']['psql_db_user'] }} DB_PASSWORD={{ hostvars['localhost']['psql_db_pass'] }} TEST_COMPLETE_URL_TEMPLATE=http://%%s:1880 HOSTS_PASSWORD_ENCRYPTION_KEY={{ hostvars['localhost']['host_pass_encr_key'] }}
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --rm \
        --sdnotify=conmon \
        --replace \
        --name=middleware_test-complete-connector_1 \
        -d \
        --label io.podman.compose.config-hash=123 \
        --label io.podman.compose.project=middleware \
        --label io.podman.compose.version=0.0.1 \
        --label com.docker.compose.project=middleware \
        --label com.docker.compose.project.working_dir=/var/middleware/deployment \
        --label com.docker.compose.project.config_files=/var/middleware/deployment/docker-compose.yml \
        --label com.docker.compose.container-number=1 \
        --label com.docker.compose.service=test-complete-connector \
        -e DB_HOST \
        -e DB_PORT \
        -e DB_USERNAME \
        -e DB_PASSWORD \
        -e DB_NAME \
        -e TEST_COMPLETE_URL_TEMPLATE \
        -e HOSTS_PASSWORD_ENCRYPTION_KEY \
        --net middleware_default \
        --network-alias test-complete-connector {{ lookup('env', 'CI_REGISTRY') }}/dwp/digital-channels-contact/contact2/testautomation/ta-middleware-java/test-complete-connector-{{ lookup('env', 'ENVIRONMENT') }}:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target